/* ===== RESET ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #0f172a;
  color: white;
}

/* groupes de liens */
.nav {
  display: flex;
}

/* liens navbar */
.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

/* supprimer couleur violette */
.nav a:visited {
  color: white;
}

/* hover */
.nav a:hover {
  color: #38bdf8;
}

/* lien actif */
.nav a.active {
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
}

/* sécurité globale (React Router inclus) */
a {
  color: inherit;
  text-decoration: none;
}

/* ===== NAVBAR CENTRE + DROITE ===== */
.nav-center {
  display: flex;
  gap: 25px;
}

.nav-right {
  display: flex;
}

/* bouton ON/OFF */
.login-btn {
  padding: 8px 15px;
  background: #38bdf8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  background: #0ea5e9;
}

/* ===== SECTIONS ===== */
section {
  padding: 40px;
  text-align: center;
}

/* ===== HOME ===== */
.home {
  min-height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; /* espace entre image et texte */

  background: #ee0400;
  color: white;
  padding: 40px;
}
.profile-img{
  width:250px;
  height:500px;
  object-fit: cover;
  border-color:50%; 
  border: 10px solid white;
  margin:20px 0;
}

.home h1 {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: bold;
}

.home p {
  font-size: 20px;
  max-width: 600px;
  line-height: 1.8;
}

.home button {
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: #ea580c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.home button:hover {
  background: #f1f5f9;
}

/* ===== ABOUT ===== */
section h2 {
  min-height: calc(100vh -60px);
  align-items: center;
   background: #0f172a;
  color: white;
   text-align: center;
  padding: 20px;
  
}

section p {
  max-width: 700px;
  margin: 10px auto;
  font-size: 17px;
  line-height: 1.7;
}

/* ===== PROJECTS ===== */
.projects{
  text-align:center;
   background: #0f172a;
  color: white;
  padding:40px;
}

.projects-container{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:30px; 
}

.project-card{
  width:250px;
  background:#f5f5f5;
  border-radius:10px;
  padding:15px;
  color: #0f172a;
}

.project-img{
  width:100%;
  border-radius:10px;
}

.project-card button{
  margin-top:10px;
  padding:8px 15px;
  border:none;
  background:#0a1a33;
  color:rgb(34, 27, 27);
  cursor:pointer;
}

/* bouton afficher projets */
button {
  padding: 10px 15px;
  margin-bottom: 20px;
  background: #0f172a;
  color: #0f172a;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #1e293b;
}

/* ===== CONTACT ===== */
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.contact-form input,
.contact-form textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form button {
  padding: 10px;
  background: #0f172a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #1e293b;
}

/* ===== FOOTER ===== */
footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}